/*--------GLobal Style--------*/
@font-face {
    font-family:  "URW Gothic L";
    src: url("code/font/urw-gothic-l-book.ttf") format("truetype");
}
body{
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.no-padding{
    padding: 0px;
}
.no-padding-right{
    padding-right: 0;
}
.no-padding-left{
    padding-left: 0;
}
.no-margin{
    margin: 0px;
}
div[class*='row-']{
    padding-top: 20px;
    padding-bottom: 20px;
}
/*--------End Global Style--------*/
/*nav*/
.navbar{
    margin-bottom: 5px;
    border: none;
}
.navbar-brand{
    padding: 0;
    height: auto;
}
.first-nav{
    /*background-color: #a90101;*/
}
.first-nav a{
    color: #e8e8e8;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 500;
}
.menu-large ul{
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center;
}
.menu-large ul li{
    display: inline-block;
    padding-top: 25px;
    padding-left: 5px;
    padding-right: 5px;
}
.menu-large ul li a{
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    /*font-family: "URW Gothic L";
    font-weight: bold;*/
    font-weight: 500;
}
.menu-large ul li a:hover{
    background-color: rgba(49,49,49,0.2) !important;
    border-bottom: 1px solid #f85303;
}
.menu-small ul{
    padding: 0;
    margin: 0;
    background-color: #a00a0a;
}
.menu-small ul li:nth-child(1){
    padding-top: 10px;
}
.menu-small a#menu-trigger{
    margin: 0;
    text-decoration: none;
    display: block;
    position: relative;
    padding: 5px;
    padding-left: 15px;
    color: white;
    background-color: #a00a0a;
    font-size: 12px;
}
.menu-small a i{
    position: absolute;
    right: 10px;
}
.menu-small ul li{
    display: block;
    padding-bottom: 5px;
}
.menu-small ul li a{
    /*padding: 10px;*/
    text-decoration: none;
    font-weight: 500;
    padding: 10px;
    font-size: 12px;
    color: white;
}
/*end nav*/

/*slider*/
.slider-wrap{
    position: relative;
}
.main-slider{
    position: relative;
    top: -5px;
}
.slider-next{
    position: absolute;
    top: 40%;
    right: 0px;
    font-size: 14px;
    opacity: 0.3;
}
.slider-prev{
    position: absolute;
    top: 40%;
    left: 0px;
    font-size: 14px;
    opacity: 0.3;
}
.slider-prev:hover,.slider-next:hover{
    opacity: 0.8;
}
.main-slider-item{
    position: relative;
}
.caption-bg{
    position: absolute;
    bottom: -10%;
    left: 0%;
    background-color: rgba(48, 48, 48, 0.5);
    color: white;
    opacity: 0;
    width: 100%;
    height: 90px;
}
.caption-wrap{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 100%;
}
.caption-foto{
    width: 80px !important;
    height: 80px !important;
    display: inline !important;
    margin-top: 5px;
}
.caption-body{
    position: relative;
    top: -80px;
    left: 100px;
}
.caption-title{
    font-size: 20px;
}
.caption-text{
    font-size: 15px;
}
/*end slider*/
.recent-work-item{
    margin-bottom: 5px;
}
.recent-work-body{
    text-align: left;
}
i.fa-camera,i.fa-globe{
    padding: 10px 10px 10px 0px;
    font-size: 20px;
    color: #e0e0e0;
}
i.fa-plus-circle{
    /*position: absolute;
    top: 30%;
    right: 0px;*/
    font-size: 20px;
    color: #e0e0e0;
    padding-left: 10px;
}
.group-image-caption,.group-image-sub-caption{
    margin: 0px;
    color: #7a7a7a;
    letter-spacing: -0.5px;
}
.group-image-caption{
    font-weight: 500;
    font-size: 16px;
    margin-top: 6px;
}
.group-image-sub-caption{
    font-style: italic;
}
.client-slider-item{
    margin-top: 15px;
}
.client-slider-item a{
    position: relative;
    color: white !important;
    text-decoration: none;
}
.client-slider-item p{
    background-color: #dc2a2a;
    text-align: center;
    position: relative;
    top: 0px;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    visibility: hidden;
    margin-bottom: 0;
}
.client-slider-item:hover img{
    -webkit-box-shadow: 11px 10px 21px -4px rgba(125,125,125,0.84);
}
.client-slider-item a:hover p{
    visibility: visible;
    top: -40px;
    opacity: 0.8;
}
.client-slider-item img{
    /*border-top: 2px solid #e0e0e0;
    border-bottom: 2px solid #e0e0e0;*/
    padding: 10px;
    border: 1px solid #e2e2e2;
    padding-left: 25%;
    padding-right: 25%;
}
.client-slider-next{
    position: absolute;
    top: 12px;
    right: 0;
    font-size: 8px;
    color: #e0e0e0;
    cursor: pointer;
}
.client-slider-prev{
    position: absolute;
    top: 12px;
    right: 30px;
    font-size: 8px;
    color: #e0e0e0;
    cursor: pointer;
}
.video-wrap{
    background-color: #10adda;
    position: relative;
    /*height: 400px;*/
    width: 100%;
}
.video-content{
    /*position: relative;
    top: -100px;*/
}
.video-wrap iframe{
    /*position: relative;
    top: -100px;*/
    width: 100%;
    height: 350px;
}
.video-text{
    margin-top: 50px;
}
.separator{
    height: 100px;
}
.video-text-heading{
    color: white;
    font-size: 20px;
    position: relative;
}
.video-text-heading:after{
    position: absolute;
    content: "";
    height: 3px;
    background-color: #ef6164;
    width: 20%;
    margin-top: 5px;
    left: 0px;
    bottom: -5px;
}
.video-text-body{
    color: white;
    margin-top: 15px;
    font-size: 13px;
}
/*footer*/
.footer {
	background: #1f1f1f;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
    font-family: 'Roboto', sans-serif;
}
.footer p {
	margin: 0;
}
.footer .push-down{
    margin-top: 20px;
    margin-bottom: 10px;
}
.footer h3 {
	color: white;
	font-size: 15px;
	line-height: 27px;
/*	padding: 20px 0 10px;*/
	text-transform: uppercase;
    position: relative;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.footer ul {
	list-style-type: none;
    padding: 0px;
}
.footer a {
	padding: 0 0 5px 0;
	display: block;
    color: #b4b4b4;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
}
.footer a:hover{
	text-decoration: none;
    color: #ed5565;
}
.footer a {
	color: #78828D
}
.footer-logo{
    list-style: none;
    padding: 0;
}
.footer-logo li{
    list-style: none;
    padding: 0;
    color: #7d7d7d;
    font-weight: 500;
}
.last-footer{
    background-color: #1b1b1b;
    color: #404040;
    font-size: 14px;
}
.last-footer p{
    text-align: center;
    margin-top: 10px;
}
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
/*end footer*/
.artikel-wrap{
    margin-top: 10px;
    margin-bottom: 10px;
}
.artikel-active{
    border: 0px !important;
    background-color: #f2f2f2;
    border-right: 3px solid #dc2a2a !important;
}
a.artikel-active:focus{
    outline:0px !important;
}
.artikel-header{
    position: relative;
    margin-bottom: 15px;
}
.artikel-header .artikel-header-judul{
    font-size: 15px;
    font-weight: 400;
    color: white;
    padding: 5px;
    margin-bottom: 2px;
    background-color: #dc2a2a;
}
.artikel-header-underline{
    width: 100%;
    height: 2px;
    background-color: #dc2a2a;
    position: relative;
    top: 3px;
}
.artikel-header-right{
    position: absolute;
    right: 0;
    font-size: 16px;
    margin-bottom: 10px;
}
.artikel-link:hover .artikel-title{
    text-decoration: underline;
}
.artikel-isi img{
    max-width: 100%;
    height: auto;
    display: block;
}
.pengetahuan-header .artikel-header-judul,.pengetahuan-header-underline{
    background-color: #dc2a2a;
}
.inside-school-header .artikel-header-judul,.inside-school-header-underline{
    background-color: #4caf50;
}
.kabar-sepekan-header .artikel-header-judul,.kabar-sepekan-header-underline{
    background-color: #4db2ec;
}
.hidup-guruku-header .artikel-header-judul,.hidup-guruku-header-underline{
    background-color: #f9c100;
}
.buku-header .artikel-header-judul,.buku-header-underline{
    background-color: #e9573e;
}
.gallery-header .artikel-header-judul,.gallery-header-underline{
    background-color: #e9573e;
}
.artikel-body iframe{
    width: 100%;
    height: 300px;
}
.artikel-hot{
    position: relative;
}
.artikel-hot img{
    height: 240px !important;
    overflow-y: hidden;
}
.artikel-hot-caption-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    );
    color: white;
}
.artikel-hot-caption-wrap:hover{
    color: white;
    text-decoration: underline;
    -moz-text-decoration-color: gray; /* Code for Firefox */
    text-decoration-color: red;
}
.artikel-hot-caption{
    position: absolute;
    left: 10px;
    bottom: 0px;
    color: #cecece;
    font-weight: 500;
}
.artikel-hot-caption .artikel-hot-date{
    color: #e46666;
    font-size: 12px;
}
.artikel-hot-sub-caption{
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: #8e8e8e;
    font-size: 12px;
}
.artikel-normal ul{
    padding: 0;
    list-style: none;
}
.artikel-normal ul li{
    border-bottom: 1px solid #eaeaea;
    padding-top: 5px;
    padding-bottom: 5px;
}
.artikel-normal li:before{
    content: "\f105";
    font-family: FontAwesome;
    color: #ff7f68;
    position: absolute;
}
.artikel-normal ul li.lihat-semua{
    border-bottom: none;
    text-align: right;
}
.artikel-normal ul li.lihat-semua:before{
    content: none;
}
.artikel-normal a{
    position: relative;
    left: 10px;
    color: #7b7b7b !important;
}
.artikel-normal ul li.lihat-semua a{
    position: static;
    color: #ff7f68 !Important;
}
/*Bagian Artikel Headline*/
.head-line-heading{
    color: #dc2a2a;
}
.head-line-heading:after{
    background-color: #e0e0e0;
}
.head-line-hot img{
    max-height: inherit !important;
}
.head-line-side{
    height: auto;
    overflow-y: auto;
}
.head-line-hot div.head-line-hot-text{
    position: absolute;
    bottom: 0px;
    background-color: rgba(48, 48, 48, 0.5);
    padding: 8px 12px;
}
.head-line-hot div.head-line-hot-text .judul{
    color: white;
}
.head-line-hot div.head-line-hot-text .sub-judul{
    color: #a8a8a8;
}
.head-line-hot div.head-line-sub-text{
    position: absolute;
    bottom: 0px;
    background-color: rgba(48, 48, 48, 0.5);
    color: white;
    padding: 10px;
}
.head-line-side-item{
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #c1c1c1;
}
.head-line-side a:nth-child(1) .head-line-side-item{
    padding-top: 0;
}
.head-line-side-item img{

}
.head-line-side-item-title{
    font-size: 13px;
    font-weight: 500;
    color: #a90101;
}
.head-line-side-item-sub-title{
    color: #a8a8a8;
}
.head-line-side-item-sub-title-2{
    color: #a8a8a8;
    font-size: 12px;
    font-style: italic;
}
/*Bagian Artikel Jembatan Pengetahuan*/
.jembatan-pengetahuan-item{
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #c1c1c1;
}
.jembatan-pengetahuan-item-title{
    font-size: 13px;
    font-weight: 500;
    color: #a90101;
}
.jembatan-pengetahuan-item-sub-title{
    color: #a8a8a8;
}
.jembatan-pengetahuan-item-sub-title-2{
    color: #a8a8a8;
    font-size: 12px;
    font-style: italic;
}
.jembatan-pengetahuan-item-text{
    text-decoration: none !important;
    color: black;
}
/*Bagian Gallery*/
.gallery-img{
    width: 24%;
    height: auto;
    margin-bottom: 5px;
}
.gallery-wrap{
    position: relative;
}
.gallery-item{
    background-color: red;
    position: relative;
}
.gallery-item a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    transition: all 0.1s ease-in-out;
}
.gallery-item a:hover{
    background: transparent;
}
.hohoho{
    background-color: red;   
}
